.app {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
.app p {
    text-align: center;
    font-size: 50px;
    font-family: 'Inconsolata', monospace;
    color: rgb(2, 212, 2);
}
.app p:hover {
  text-decoration: underline;
}
